header(class="header "+header_class)
    a(href='#' data-logo-header).header__logo
        <svg xmlns="http://www.w3.org/2000/svg" width="66.181" height="24.643" viewBox="0 0 66.181 24.643">
            <g id="Сгруппировать_16608" data-name="Сгруппировать 16608" transform="translate(0 -0.001)">
                <path id="Контур_148" data-name="Контур 148" d="M0,0V24.644H45.953L20.727,0Z"/>
                <rect id="Прямоугольник_1773" data-name="Прямоугольник 1773" width="20.228" height="24.643" transform="translate(45.953 0.001)"/>
            </g>
        </svg>
    a(href='#contacts').header__button Inquire
