@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-Thin.otf') format('opentype');
}
@font-face {
	font-family: 'Aeonik';
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-ThinItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Aeonik';
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-LightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-Air.otf') format('opentype');
}
@font-face {
	font-family: 'Aeonik';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-AirItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Aeonik';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-RegularItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Aeonik';
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-MediumItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Aeonik';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Aeonik';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-Black.otf') format('opentype');
}
@font-face {
	font-family: 'Aeonik';
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url('../fonts/Aeonik/Aeonik-BlackItalic.otf') format('opentype');
}
