.home-location-screen
  .home-location-screen__content
    <svg class="home-location-screen__decor" width="61" height="18" viewBox="0 0 61 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.23731 6.91429L20.1644 18L31.1477 6.91429L42.0748 18L53.0582 6.91429L61 14.9714V8.11429L53.0582 0L42.0748 11.1429L31.1477 0L20.1644 11.1429L9.23731 0L0 9.37143V16.2857L9.23731 6.91429Z" fill="#5D85A3"/>
    </svg>
    div.home-location-screen__title.text-style-1920-h-1 Локація
    div.text-style-1920-h-4(data-split-lines-and-fade-up) Вдале розташування житлового комплексу має зручне сполучення з іншими частинами міста та забезпечує безліч можливостей для дозвілля, бізнес-активностей та сучасного міського життя
    <svg width="21" height="32" viewBox="0 0 21 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5 9.66038C20.5 3.32076 15.8031 0 10.5001 0C5.19707 0 0.5 3.32075 0.5 9.66038C0.5 10.9887 1.20707 12.9308 1.5606 13.7358L10.5001 32L19.4394 13.7359C19.7929 12.9308 20.5 10.9887 20.5 9.66038ZM10.5 15C13.2614 15 15.5 12.7614 15.5 10C15.5 7.23858 13.2614 5 10.5 5C7.73858 5 5.5 7.23858 5.5 10C5.5 12.7614 7.73858 15 10.5 15Z" fill="#07222F"/>
    </svg>
  .home-location-screen__bg-wrapper
    .home-location-screen__top-gradient
    .home-location-screen__bg
      <picture>
        <source srcset="./assets/images/home/home-location-screen/home-location-screen-bg.jpg" media="(min-width: 1025px)">
        <source srcset="./assets/images/home/home-location-screen/home-location-screen-bg@075x.jpg" media="(min-width: 601px) and (max-width: 1024px)">
        <source srcset="./assets/images/home/home-location-screen/home-location-screen-bg-mobile.jpg" media="(max-width: 600px)">
        <img src="#", alt="", srcset="" loading="lazy"/>
      </picture>
      //- img(src="./assets/images/home/home-location-screen/home-location-screen-bg.jpg", alt="", srcset="" loading="lazy")
  //- .home-location-screen__bg
  //-   img(src="./assets/images/home/home-location-screen/home-locarion-screen-bg.jpg", alt="", srcset="")
