.page404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
    height: 100vh;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include from(1440px){
        max-width: initial;
    }
    @include to(1024px){
        padding-left: 20px;
        padding-right: 20px;
    }
    &__title {
        font-size: 48px;
        line-height: 140%;
        @include from(1025px){
            position: absolute;
            left: 50%;
            top: calc(var(--header-h) + 30px);
            transform: translateX(-50%);
        }
        @include to(1024px){
            font-size: 50px;
        }
        @include to(600px){
            font-size: 32px;
            text-align: center;
        }
    }
    .link-wrap {
        gap: 2px;
        text-align: center;
        .header__button {
            margin: 0;
        }
        @include from(1025px){
            position: absolute;
            left: 50%;
            bottom: 15vh;
            transform: translateX(-50%);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include to(1024px){
            position: relative;
            position: relative;
            height: 100%;
            justify-content: space-between;
            padding-top: 17vh;
            padding-bottom: 10vh;
            width: 100%;
        }
        @include to(600px){
            padding-bottom: 20vh;
        }
        z-index: 3;
    }
    // &:after {
    //     content: '';
    //     position: absolute;
    //     // z-index: 2;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: var(--color-bg-colour);
    //     opacity: 0.5;
    // }
    // @include to(600px){
    //     position: static;
    //     margin-bottom: 0 !important;
    //     padding: 90px 20px 20px 20px;
    //     margin-top: 80px;
    //     &>svg {
    //         width: 225px;
    //     }
    // }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .text-style-h-3  {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        /* identical to box height, or 45px */
        
        display: flex;
        align-items: center;
        text-align: center;
        @include to(600px){
            font-size: 24px;
        }
    }

    .oops {
        font-weight: 700;
        font-size: 32px;
        margin-top: 40px;
        margin-bottom: 10px;
        line-height: 90%;
        /* identical to box height, or 29px */

        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;
    }
    .link-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

.tablet,
.mobile {
    .page404 {
        padding-left: 10px;
        padding-right: 10px;
        .text-style-h-3 {
            font-size: 16px;
        }
    }
}